{% if block.image %}
	{% import "_macros" as macros %}
	{% set image = block.image.one() %}
	<section class="body-section container-{{ block.sectionWidth ? : "wide" }}">
		<figure class="mb-6">
			<img
				src="{{ image.getUrl("w1200") }}"
				srcset="{{ macros.srcSet(image) }}"
				sizes="(max-width: 768px) 100vw, 800px"
				alt="{{ block.altText ? : image.title }}"
				width="{{ image.width }}"
				height="{{ image.height }}"
				loading="lazy"
				class="w-full"
			/>
			{% if block.caption %}
				<figcaption class="mt-2 text-gray-700">
					{% include "_partials/_retcon/experience-text" with {
						text: block.caption
					} only %}
				</figcaption>
			{% endif %}
		</figure>
	</section>
{% endif %}
