{% import "_macros" as macros %}
{% set experienceType = experience.experienceType.one() %}
{% set participationPhases = experience.participationPhases.all() %}
{% set isEditorial = experienceType and experienceType.slug == "editorial-reportage" %}

{% set cardClasses = {
	layout: "card-community flex flex-col gap-2 pb-8",
	image: "w-full aspect-video object-cover",
	imageContainer: "block mb-",
	content: "px-4 md:px-6 pt-0",
	meta: "px-4 md:px-6 mt-auto"
} %}

<article class="card-experience group bg-white dark:bg-gray-900 {{ cardClasses.layout }}">
	{% if isEditorial and (experience.featuredImage|length) %}
		{% set image = experience.featuredImage.one() %}
		<a href="{{ experience.url }}" class="{{ cardClasses.imageContainer }}">
			<img
				src="{{
				image.getUrl({
					width: 800,
					height: 450,
					mode: "crop"
				})
				}}"
				srcset="{{ macros.srcSet(image, true, "16:9") }}"
				sizes="(max-width: 1024px) 100vw, 800px"
				alt="{{ image.title }}"
				class="{{ cardClasses.image }}"
				loading="lazy"
			/>
		</a>
	{% endif %}

	{# Short Quote #}
	{% if not isEditorial and experience.shortQuote %}
		<blockquote
			class="flex flex-col justify-center bg-accent/30 p-4 text-2xl font-extralight italic md:p-6 md:text-4xl 2xl:p-10 {{
			cardClasses.image
			}}"
		>
			<p>
				<span class="mr-1 inline-block font-medium">“</span>{{ experience.shortQuote }}<span
					class="-mr-2 inline-block font-medium"
				>
					”
				</span>
			</p>
			{% if not isEditorial and (experience.peopleInvolved|length) %}
				<footer class="mt-4">
					{% for person in experience.peopleInvolved.all()|filter(p => p.showInPreview) %}
						<div class="flex items-center gap-3">
							{% if person.involvedPersonPhoto|length %}
								{% set photo = person.involvedPersonPhoto.one() %}
								<img
									src="{{
									photo.getUrl({
										width: 160,
										height: 160,
										mode: "crop"
									})
									}}"
									srcset="{{ macros.srcSet(photo, true, "1:1") }}"
									sizes="80px"
									alt="{{ person.involvedPersonName }}"
									class="h-10 w-10 rounded-full object-cover lg:h-14 lg:w-14"
								/>
							{% endif %}
							<div class="text-base not-italic md:text-lg">
								<span class="block font-semibold">{{ person.involvedPersonName }}</span>
								<span class="text-gray-600">{{ person.involvedPersonRole }}</span>
							</div>
						</div>
					{% endfor %}
				</footer>
			{% endif %}
		</blockquote>
	{% endif %}

	<div class="card-content {{ cardClasses.content }}">
		{% set headingTag = headingLevel|default("h2") %}
		{% if headingTag == "h3" %}
			<h3 class="my-1 text-xl font-normal md:text-2xl/5 xl:text-3xl/6">
				<a
					href="{{ experience.url }}"
					class="border-b border-transparent text-inherit transition-all group-hover:text-accent hover:border-accent dark:group-hover:text-accent"
				>
					{{ experience.title }}
				</a>
			</h3>
		{% else %}
			<h2 class="my-3 text-xl font-normal md:text-2xl/5">
				<a href="{{ experience.url }}" class="hover:text-gray-600">{{ experience.title }}</a>
			</h2>
		{% endif %}
		<div class="text-sm/3 md:text-base/4">
			{% set place = experience.place.one() %}
			{% if place %}
				<span><strong>{{ place.title }}</strong>, {{ place.city }}</span>
			{% endif %}
			{% if experience.dateOfExperience %}
				<time datetime="{{ experience.dateOfExperience|date("Y-m") }}" class="before:content-['-']">
					{{ experience.dateOfExperience|date("F Y") }}
				</time>
			{% endif %}
		</div>

		{% if experience.description %}
			<p class="my-2 text-base/3 font-light md:text-lg/4">
				{{ experience.description|striptags("<strong><em>")|raw }}
			</p>
		{% endif %}
	</div>
	<footer class="card-meta {{ cardClasses.meta }}">
		{% set themes = experience.themes.all() %}
		{% if themes|length %}
			<nav aria-label="Experience themes" class="flex flex-wrap gap-1">
				<span class="text-sm text-gray-700 dark:text-gray-500">Themes:</span>
				<ul class="flex w-full flex-wrap gap-2">
					{% for theme in themes %}
						<li>
							{% include "_modules/link-text" with {
								url: theme.url,
								label: theme.title,
								additionalClasses: "font-semibold text-base"
							} only %}
						</li>
					{% endfor %}
				</ul>
				<div class="mt-2 flex flex-col gap-2 md:gap-3 xl:flex-row xl:gap-4">
					<div>
						<span class="mt-2 text-sm text-gray-700 dark:text-gray-500">Type:</span>
						<ul class="flex w-full flex-wrap gap-2">
							<li>
								{% include "_modules/link-text" with {
									url: experienceType.url,
									label: experienceType.title,
									additionalClasses: "font-medium text-base"
								} only %}
							</li>
						</ul>
					</div>
					<div>
						<span class="mt-2 text-sm text-gray-700 dark:text-gray-500">Phase:</span>
						<ul class="flex w-full flex-wrap gap-2">
							{% for phase in participationPhases %}
								<li>
									{% include "_modules/link-text" with {
										url: phase.url,
										label: phase.title,
										additionalClasses: "font-semibold text-base"
									} only %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</nav>
		{% endif %}
	</footer>
</article>
